
.txt_1 {
    background: #f1f1f1;
    font-family: "Courier New", serif;
}

.txt_0 {
    background: #f1f1f1;
    font-family: "Courier New", serif;

}

.title {

    font-family: "Courier New", serif;
    background: #303030;
    color: #f1f1f1;

}